flows (1).json
[{"id":"762e05c0.fbaacc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca66529c.c1681","type":"ui_form","z":"762e05c0.fbaacc","name":"","label":"","group":"51aa046b.e27a5c","order":1,"width":0,"height":0,"options":[{"label":"Enter your Query:","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"Ask ","cancel":"Cancel","topic":"","x":70,"y":280,"wires":[["84000d38.5b47"]]},{"id":"84000d38.5b47","type":"function","z":"762e05c0.fbaacc","name":"","func":"msg.payload=msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["565c40c1.792e3","d9bd2a9d.890ba8"]]},{"id":"b23b93f9.099af","type":"function","z":"762e05c0.fbaacc","name":"","func":"if(msg.payload.output.error)\n{\n    msg.payload=\"Can you please Rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["9e90c0f6.50331","496a9aa.69c6764"]]},{"id":"565c40c1.792e3","type":"ui_text","z":"762e05c0.fbaacc","group":"51aa046b.e27a5c","order":2,"width":0,"height":0,"name":"","label":"Customer :","format":"{{msg.payload}}","layout":"col-center","x":330,"y":480,"wires":[]},{"id":"9e90c0f6.50331","type":"ui_text","z":"762e05c0.fbaacc","group":"51aa046b.e27a5c","order":3,"width":12,"height":4,"name":"","label":"BOT :","format":"{{msg.payload}}","layout":"col-center","x":672.0000076293945,"y":446.0000066757202,"wires":[]},{"id":"99cc583.96a71a8","type":"debug","z":"762e05c0.fbaacc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":60,"wires":[]},{"id":"d9bd2a9d.890ba8","type":"watson-conversation-v1","z":"762e05c0.fbaacc","name":"Customer Care","workspaceid":"143ad289-fd12-4ed2-b937-a760d72470b3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a7193141-77d0-4c35-83d2-6f76f5284341","timeout":"","optout-learning":false,"x":389.00000762939453,"y":149.00000190734863,"wires":[["99cc583.96a71a8","b23b93f9.099af"]]},{"id":"496a9aa.69c6764","type":"ui_audio","z":"762e05c0.fbaacc","name":"","group":"51aa046b.e27a5c","voice":"en-US","always":"","x":699,"y":152,"wires":[],"l":false},{"id":"51aa046b.e27a5c","type":"ui_group","z":"","name":"CHATBOT","tab":"d589f3e4.46394","order":1,"disp":true,"width":"12","collapse":false},{"id":"d589f3e4.46394","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]